<nav>
	<ul>
		<li>
	      <a routerLink="/" [class.activated]="loginflag" (click)="setLoginSelection()">
	        <i class="material-icons">supervised_user_circle</i>
	      </a>
	    </li>
		<li>
			<a routerLink="/dashboard" [class.activated]="gridflag" (click)="setGridSelection()"> 
				<i class="material-icons">folder</i>
			</a>
		</li>
		<li>
			<a routerLink="/posts" [class.activated]="postflag" (click)="setPostSelection()">
				<i class="material-icons">attach_file</i>
			</a>
		</li>
		<li>
			<a routerLink="/users" [class.activated]="usersflag" (click)="setUsersSelection()">
				<i class="material-icons">calendar_today</i>
			</a>
		</li>
	</ul>
</nav>